@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Regular.otf);
}
 
@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Semibold.otf);
    font-weight: 600;
 }
@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Bold.otf);
    font-weight: 700;
 }
* {
    font-family: SourceSansPro;
    box-sizing: border-box;
    ::-webkit-scrollbar {
        display: none;
    }
}


nav {
    background-color: transparent;
    height: 85px;
    .navbar-nav {
        .nav-item {
            a {
                font-size: 18px;
                color: #2C2E33;
                font-weight: 600;
                margin: 0 15px;
                &.active {
                    color: #3B3C98 !important;
                    font-weight: 700 !important;
                }
            }
        }
    }
    .btn-masuk {
        background-color: transparent;
        width: 100px;
        height: 47px;
        border: 2px solid #3B3C98;
        border-radius: 25px;
        font-size: 18px;
        color: #3B3C98;
        padding: 8px 22px;
        &:hover {
            background-color: #3B3C98;
            color: #FFFFFF;
        }
    }
    .btn-daftar {
        background-color: #3B3C98;
        width: 100px;
        height: 47px;
        border-radius: 25px;
        font-size: 18px;
        margin-left: 15px;
        padding: 9px 26px;
        &:hover {
            background-color: #292b8f;
        }
    }
}

header {
    margin-top: -85px;
    padding-top: 254px;
    min-height: 90vh;
    background: rgb(218,216,255);
    background: linear-gradient(187deg, rgba(218,216,255,0) 0%, rgb(227, 233, 255) 100%);
    .btn-pesan {
        background-color: #3B3C98;
        color: #FFFFFF;
        font-size: 18px;
        padding: 12px 39px 16px 39px;
        border-radius: 25px;
        box-shadow: 0 -2px 1px 0 #3B3C98;
        box-shadow: 0 2px 10px 0 #3B3C98;
    }
    .hero {
        width: 899px;
        height: 642px;
        position: absolute;
        right: 0px;
        bottom: 100px;
        z-index: 5;
    }
}

.highlight {
    left: 670px;
    position: absolute;
    margin-top: -50px;
    z-index: 99;
    .box {
        display: flex;
        justify-content: space-around;
        width: 800px;
        height: 95px;
        border-radius: 20px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
        background-color: #FDFDFE;
    }
}

.kenapa {
    margin-top: 150px;
    .card {
        border: 1px solid #E2E2E2;
        min-height: 345px;
    }
    .anjay {
        box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.2);
    }
}

.alur {
    min-height: 600px;
    margin-top: 150px;
    color: #2C2E33;
    h2 {
        font-size: 24px;
    }
    .content {
        padding-top: 50px;
        background-image: url('../images/line.png');
        background-repeat: no-repeat;
        width: 100%;
    }
}

.testimoni {
    margin-top: 150px;
    margin-bottom: 135px;
    color: #2C2E33;
    min-height: 600px;
    .big-profil {
        margin-top: 40px;
    }
    .profil {
        padding: 16px 46px;
        border-radius: 4px;
        border: 1px solid #F5F5F5;
        background-color: #FFF;
        box-shadow: 0 1px 1px 0 rgba(138,138,138, 0.25);
        &.active {
            color: #FFF !important;
            background-color: #3B3C98;
            border: 0px;
            box-shadow: 0 5px 10px 0 rgba(59,60,152,0.5);
        }
        &:hover {
            background-color: #3b3c98;
            color: #FFF;
        }
    }
}

.katalog-mobil {
    color: #2C2E33;
    margin-top: 85px;
    margin-bottom: 135px;
    p {
        font-size: 18px;
    }
    .filter {
        min-height: 680px;
        padding: 35px;
        background-color: #FFF;
        border: 1px solid #EAEAEA;
        border-radius: 15px;
    }
    .mobil {
        padding: 20px;
        border: 1px solid #F2F2F2;
        box-shadow: 0 2px 5px 0 rgba(199,199,199, 0.5);
        min-height: 420px;
        border-radius: 10px;
        p {
            font-size: 16px;
        }
        transition: 0.5s;
        &:hover {
            transform: scale(1.05,1.05)
        }
    }
}

.data-diri {
    color: #2C2E33;
    margin-top: 85px;
    .card {
        padding: 30px;
        border: 1px solid #D8D8D8;
        background-color: #fff;
    }
    .btn-lanjutkan {
        background-color: #3B3C98;
        padding: 10px 26px;
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
        box-sizing: border-box;
    }
}

.pembayaran {
    color: #2C2E33;
    margin-top: 85px;
    .card {
        padding: 30px;
        border: 1px solid #D8D8D8;
        background-color: #fff;
    }
    .detail-harga {
        background-color: #F0F0F0;
        padding: 5px;
    }
    .btn-kirim {
        background-color: #3B3C98;
        padding: 10px 26px;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }
}

.sukses {
    min-height: 80vh;
    .btn-detail-transaksi {
        background-color: #3B3C98;
        padding: 10px 26px;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
    }
}

.riwayat-rental {
    color: #2C2E33;
    margin-top: 85px;
    min-height: 80vh;
}

.review {
    color: #2C2E33;
    margin-top: 85px;
    min-height: 80vh;
    h2 {
        font-size: 34px;
        font-weight: bold;
        &.gradient {
            background-image: linear-gradient(to right, rgba(59,60,152, 100%), rgb(157, 163, 216));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
    .form-control {
        border: 1px solid #DFDFDF;
        box-shadow: 0 2px 2px 0 rgba(177,177,177,0.25);
        border-radius: 10px;
        padding: 25px;
        &::placeholder {
            font-size: 16px;
            color: #CBCBCB;
        }
    }
    .btn-kirim {
        background-color: #3B3C98 !important;
        border-radius: 10px;
        padding: 10px 0;
        color: #FFF;
        font-size: 20px;
    }
}

.ketentuan {
    padding: 50px 0;
    background-color: #F2F5F5;
    min-height: 100vh;
    .card {
        border: 1px solid #D8D8D8;
        border-radius: 10px;
        padding: 40px;
    }
}

.kontak {
    margin-top: 85px;
    margin-bottom: 220px;
    .form-control {
        background-color: #EBEEF1;
        padding: 13px 20px;
        border-radius: 10px;
        border: none;
        &::placeholder {
            font-weight: 600;
            font-size: 16px;
            color: #7C7C7C;
        }
    }
    .btn-kirim {
        background-color: #3B3C98 !important;
        border-radius: 10px;
        padding: 10px 0;
        color: #FFF;
        font-size: 20px;
    }
    .btn-wa {
        background-color: #47C756 !important;
        border-radius: 10px;
        padding: 10px 0;
        color: #FFF;
        font-size: 20px;
    }
}

footer {
    min-height: 250px;
    background-color: #FFF;
    padding: 30 0px;
    .navbar-nav {
        .nav-link {
            font-size: 16px;
            color: #2C2E33;
        }
    }
}